<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta property="og:site_name" content="footballstats.tk" />
<meta property="og:title" content="footballStats" />
<meta property="og:url" content="https://footballstats.tk" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Football Statistics for Popular Leagues" />
<meta property="og:image" content="https://footballstats.tk/./assets/images/ogImg.png" />
<title>FootballStats</title>
<script src="https://kit.fontawesome.com/2628210dc1.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Proza+Libre:400,500&display=swap" rel="stylesheet" />
<link rel="icon" href="./assets/images/soccer_small.png" />
<link rel="dns-prefetch" href="https://api.football-data.org/v2/competitions/" />
<link rel="dns-prefetch" href="https://rahuldahal.com.np" />