<header>
    <div id="selectWrapper">
        <div id="selected" tabindex="0">
            <span>Premier League</span>
            <i class="fas fa-caret-down" style="margin-left: 10px;"></i>
        </div>
        <div id="dropdownLeagueContainer">
            <button class="league" data-league="2021" data-path="/premierleague/standings">Premier League</button>
            <button class="league" data-league="2014" data-path="/laliga/standings">La Liga</button>
            <button class="league" data-league="2019" data-path="/seriea/standings">Serie A</button>
            <button class="league" data-league="2015" data-path="/ligueone/standings">Ligue 1</button>
            <button class="league" data-league="2002" data-path="/bundesliga/standings">Bundesliga</button>
        </div>
    </div>
    <span id="author">by <a href="https://rahuldahal.com.np" target="_blank">Rahul Dahal</a>
        <a href="https://twitter.com/raahuldaahal"><i class="fab fa-twitter" style="margin-left: 10px;"></i></a>
        <a href=""><i class="fab fa-github" style="margin-left: 10px;"></i></a></span>
</header>