<div id="landingContent">
    <div id="landingContentWrap">
        <h1>FootballStats</h1>
        <p><em>Football Statistics of Popular Leagues</em></p>
        <h3>Select the league</h3>
        <div id="selectLeague">
            <button class="clickable route" data-path="/premierleague" data-league-name="Premier League"
                data-league="2021">
                <img src="/assets/images/premierleague.png" alt="" />
            </button>
            <button class="clickable route" data-path="/laliga" data-league-name="La Liga" data-league="2014">
                <img src="/assets/images/laliga.png" alt="" />
            </button>
            <button class="clickable route" data-path="/seriea" data-league-name="Serie A" data-league="2019">
                <img src="/assets/images/seriea.png" alt="" />
            </button>
            <button class="clickable route" data-path="/bundesliga" data-league-name="Bundesliga" data-league="2002">
                <img src="/assets/images/bundesliga.png" alt="" />
            </button>
            <button class="clickable route" data-path="/ligueone" data-league-name="Ligue 1" data-league="2015">
                <img src="/assets/images/ligueone.png" alt="" />
            </button>
        </div>
    </div>
</div>