<div id="matchesOutput">
    <div class="matchesWrap">
        <div class="clearLocalStorage">
            <p>If you see an empty screen or an error,</p>
            <button id="clearStorage">Click this Button</button>
        </div>
    </div>
</div>