<nav id="navigation">
    <button id="matches" class="active">Matches</button>
    <button id="teams">Teams</button>
    <button id="scorers">Scorers</button>
    <button id="standings">Standings</button>
</nav>