<div id="standingsOutput">
    <table id="standingsOutput__table">
        <tr class="imp">
            <th>Position</th>
            <th>Team</th>
            <th>Played</th>
            <th>Won</th>
            <th>Drew</th>
            <th>Lost</th>
            <th>Goals For</th>
            <th>Goals Against</th>
            <th>Goal Diff.</th>
            <th>Points</th>
        </tr>
    </table>

    <aside id="standingsOutput__filter">
        <div id="filterButtonsWrap">
            <button class="filterBtn activeFilter" data-table-type="total">Overall</button>
            <button class="filterBtn" data-table-type="home">Home</button>
            <button class="filterBtn" data-table-type="away">Away</button>
        </div>
    </aside>
</div>